*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Comfortaa', cursive;
}

/* ------------------------Header------------------------ */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	height: calc(40px + (100 - 40) * ((100vw - 500px) / (1920 - 500)));
	width: 100%;
	background-color: #0f0f0f;
	position: fixed;
	z-index: 5;
}

.nav_links a {
	font-weight: 500;
	font-size: calc(8px + (24 - 8) * ((100vw - 500px) / (1920 - 500)));
	color: #D9D9D9;
	text-decoration: none;
}

.logo{
	width: calc(75px + (150 - 75) * ((100vw - 500px) / (1920 - 500)));
}

.nav_links {
	list-style: none;
}

.nav_links li:hover {
	background-color: #5b5c3c;
}

.nav_links li {
	display: inline-block;
	padding-top: calc(20px + (35 - 20) * ((100vw - 500px) / (1920 - 500)));
	padding-bottom: calc(20px + (35 - 20) * ((100vw - 500px) / (1920 - 500)));
	padding-left: calc(5px + (20 - 5) * ((100vw - 500px) / (1920 - 500)));
	padding-right: calc(5px + (20 - 5) * ((100vw - 500px) / (1920 - 500)));
	position: relative;
	transition: all .2s ease 0s;
}

.nav_links li a {
	transition: all .3s ease 0s;
}

.n_l:hover {
	color: #c6c7a9;
}

.nav_links li:hover ul.s_links {
	top:calc(58px + (90 - 58) * ((100vw - 500px) / (1920 - 500)));
}

.search {
	width: calc(40px + (500 - 40) * ((100vw - 500px) / (1920 - 500)));
	height: 30px;
	font-size: calc(8px + (16 - 8) * ((100vw - 500px) / (1920 - 500)));
	text-indent: 10px;
	border-radius: 10px 10px 10px 10px;
	outline: none;
}

.s_links {
	position: absolute;
	background-color: #121212;
	left:0;
	top: -400px;
	z-index: 1;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.s_links li {
	display: block;
	padding-top: calc(5px + (30 - 5) * ((100vw - 500px) / (1920 - 500)));
	padding-bottom: calc(8px + (30 - 8) * ((100vw - 500px) / (1920 - 500)));
	padding-right: calc(10px + (15 - 10) * ((100vw - 500px) / (1920 - 500)));
	padding-left: calc(10px + (15 - 10) * ((100vw - 500px) / (1920 - 500)));
	border-top: 1px solid #333;
}

.s_links li:hover {
	background-color: #3f4028;
}

.s_links li a {
	transition: all .3s ease 0s;
}

.but:hover {
	color: #9C9D68;
}

.exit:hover {
	color: #cf625b;
}

/* ------------------------Article(index)------------------------ */

article {
	height:calc(650px + (2450 - 650) * ((100vw - 500px) / (1920 - 500)));
	background-color: #121212
	
}

.first {
	margin-left:20%;
	margin-right:20%;
	padding-top:100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.first img {
	border-radius: calc(5px + (20 - 5) * ((100vw - 500px) / (1920 - 500)));
}

.first_pic {
	width: calc(200px + (750 - 200) * ((100vw - 500px) / (1920 - 500)));
}

.second_pic {
	width: calc(100px + (350 - 100) * ((100vw - 500px) / (1920 - 500)));
}

.second {
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

.page {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,0.5), #121212), url(background6.jpg);
	/*background: url(background.jpg);*/
	background-size: cover;
	background-position: center;
}

.new {
	display: flex;
	flex-direction: row;
	padding: 2% 2%;
	height: 100%;
	background-color: rgba(33,33,33,0.5);
	border-radius: 10px;
	margin-left: 10%;
	margin-right: 10%;
	list-style: none;
	justify-content: space-between;
}
.new li {
	border-radius: calc(3px + (10 - 3) * ((100vw - 500px) / (1920 - 500)));
	width: calc(50px + (205 - 50) * ((100vw - 500px) / (1920 - 500)));
	display: inline-block;
	padding: 2% 2%;
	margin-right: 1%;
	position: relative;
	transition: all .2s ease 0s;
	
}

.new li:hover {
	background-color: #5b5c3c;
}

.new li a {
	text-decoration: none;
	color: #D9D9D9;
}

.new li a:hover {
	color: black;
}

.new img {
	border-radius: calc(2px + (5 - 2) * ((100vw - 500px) / (1920 - 500)));
	width: calc(35px + (150 - 35) * ((100vw - 500px) / (1920 - 500)));
	margin-bottom: 5%;
}

.author {
	margin-bottom: 5%;
	font-size: calc(4px + (18 - 4) * ((100vw - 500px) / (1920 - 500)));
	color: #9C9D68;
}

.price {
	margin-bottom: 5%;
	font-size: calc(5px + (30 - 5) * ((100vw - 500px) / (1920 - 500)));
}

.hnew {
	margin-left: 10%;
	padding-bottom: 3%;
}

.content {
	
}

h4 {
	font-size: calc(5px + (24 - 5) * ((100vw - 500px) / (1920 - 500)));
	margin-bottom: 5%;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

h3 {
	font-size: calc(8px + (48 - 8) * ((100vw - 500px) / (1920 - 500)));
	padding-top: 5%;
}

h3, p, ul {
	color: white;
}

/* ------------------------Article(cycles)------------------------ */

.cycles_img {
	width: calc(110px + (430 - 110) * ((100vw - 500px) / (1920 - 500)));
	height: calc(75px + (300 - 75) * ((100vw - 500px) / (1920 - 500)));
	border-radius: calc(5px + (20 - 5) * ((100vw - 500px) / (1920 - 500)));
}

.content_cycles{
	margin-left: 10%;
}

.hcycles {
	padding-top:calc(80px + (120 - 80) * ((100vw - 500px) / (1920 - 500)));
}

.ul_cycles {
	display: flex;
	flex-direction: row;
	padding: 2% 2%;
	background-color: rgba(33,33,33,0.5);
	border-radius: 10px;	
	margin-right: 10%;
	margin-top: 2%;
	list-style: none;
	justify-content: space-between;
}

.cycle_name {
	font-size: calc(10px + (40 - 10) * ((100vw - 500px) / (1920 - 500)));
	padding: 3% 0px;
}

.cycle_name:hover {
	color: black;
}

.cycle_author {
	padding-bottom: 3%;	
	font-size: calc(5px + (24 - 5) * ((100vw - 500px) / (1920 - 500)));
	color: #9C9D68;
}

.cycle_info {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	font-size: calc(5px + (24 - 5) * ((100vw - 500px) / (1920 - 500)));
	color: #969696;
}

.ul_cycles li {
	border-radius: calc(3px + (10 - 3) * ((100vw - 500px) / (1920 - 500)));
	width: 100%;
	display: inline-block;
	padding: 2% 2%;
	position: relative;
	transition: all .2s ease 0s;
}

.ul_cycles li a {
	text-decoration: none;
	color: #D9D9D9;
}

.ul_cycles li:hover {
	background-color: #5b5c3c;
}

/* ------------------------Article(categories)------------------------ */

.categories {
	padding-left: 10%;
	padding-top: 50px;
}

.categories h3 {
	padding-bottom: 2%;
}

.spisok_categor {
	padding: 2%;
	list-style: none;
	background-color: rgba(33,33,33,0.5);
	border-radius: 10px;	
	margin-right: 10%;
}

.spisok_categor li {
	border-radius: calc(3px + (10 - 3) * ((100vw - 500px) / (1920 - 500)));
	width: 100%;
	display: inline-block;
	padding: 1% 2%;
	position: relative;
	transition: all .2s ease 0s;
	width: 100%;
}

.spisok_categor li a {
	text-decoration: none;
	color: #9c9c9c;
}

.spisok_categor li {
	padding-top: 1%;
	font-size: calc(8px + (24 - 8) * ((100vw - 500px) / (1920 - 500)));
}

.spisok_categor li:hover {
	background-color: #5b5c3c;
}

/* ------------------------Article(login)------------------------ */

.log_in_name  {
	padding-top:calc(60px + (50 - 60) * ((100vw - 500px) / (1920 - 500)));
	padding-left: 10%;
	padding-bottom: 2%;
}

.log {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60%
}

.log_in {
	background-color: rgba(33,33,33,0.5);
	margin: 0px 10%;
	padding-left: 2%;
	padding-right: 10%;
	padding-bottom: 2%;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50%
}

.log_in p {
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: calc(8px + (24 - 8) * ((100vw - 500px) / (1920 - 500)));
}

.log_in input {
	width: calc(200px + (500 - 200) * ((100vw - 500px) / (1920 - 500)));
	height: calc(20px + (50 - 20) * ((100vw - 500px) / (1920 - 500)));
	border-radius: 10px;
	text-indent: 10px;
	outline: none;
}

.log_in_line {
	margin-top: 2.5%;
	background-color: grey;
	width: 0.5%;	
	height: 100%;
	border-radius: calc(3px + (10 - 3) * ((100vw - 500px) / (1920 - 500)));
}

.log_in_with ul {
	list-style: none;
	
}

.log_in_with ul li {
	display: flex;
	padding-left: 25%;
	align-items: center;
	height: 10%;
	margin-bottom: 10%;
	border-radius: calc(7px + (20 - 7) * ((100vw - 500px) / (1920 - 500)));
	width: 125%;
	font-size: calc(8px + (20 - 8) * ((100vw - 500px) / (1920 - 500)));
}

.google {
	background-color: #a83232;
}

.google:hover {
	background-color: #421313;
}

.facebook {
	background-color: #324ca8;
}

.facebook:hover {
	background-color: #20316b;
}

.twitter {
	background-color: #327da8;
}

.twitter:hover {
	background-color: #1d4861
}

.vk {
	background-color: #3248a8;
}

.vk:hover {
	background-color: #1c295e;
}

.log_in_with ul li a {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.log_with {
	margin-bottom: 15%
}

.log_in_with ul a {
	text-decoration: none;
	color: #d9d9d9
}

.log_in_with ul a p {
	margin-left: 10%;
}

.log_in_with ul li a img {
	width: calc(12px + (40 - 12) * ((100vw - 500px) / (1920 - 500)));
	padding-right: 10%;
}


/* ------------------------Footer------------------------ */

footer {
	padding: 30px 10%;
	background-color: #121212;
}

.footer_top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #D9D9D9;
}

.footer_bottom {
	margin-top: 15px;
	color: white;
	font-size: calc(10px + (24 - 10) * ((100vw - 500px) / (1920 - 500)));
}

.foot_op {
	margin-top: 20px;
	color : white;
	font-size: calc(6px + (16 - 6) * ((100vw - 500px) / (1920 - 500)));
	margin-bottom: 15px;
}

.img {
	margin-bottom: 15px;
}

.img img {
	width: calc(18px + (32 - 18) * ((100vw - 500px) / (1920 - 500)));
}

.footer_info {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.footer_info img {
	width: calc(50px + (100 - 50) * ((100vw - 500px) / (1920 - 500)));
}

.footer_contact {
	display: flex;
	flex-direction: column;
	text-align: right;
}
.phone_number {
	margin-bottom: 15px;
}
.phone {
	text-transform: uppercase;
	font-size: calc(12px + (24 - 12) * ((100vw - 500px) / (1920 - 500)));
	color: #9C9D68;
	text-decoration: none;
}

.media {
	margin-left: 25px;
	text-decoration: none;
}

.how {
	font-size: calc(9px + (18 - 9) * ((100vw - 500px) / (1920 - 500)));
	color: white;
	margin-bottom: 15px;
}

.adress {
	font-size: calc(8px + (16 - 8) * ((100vw - 500px) / (1920 - 500)));
	color: #D9D9D9;
	opacity: 0.5;
	margin-bottom: 15px;
}